apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: deployment-secrets
  namespace: ges
stringData:
  POSTGRES_ADDR: pgdb-std-postgresql.infra.svc.cluster.local
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: INSERT_POSTGRES_PASSWORD
  AUTHENTICATION_CLIENT_ID: ges-client
  AUTHENTICATION_CLIENT_SECRET: secret
  DB_NAME: ges
  DB_PASSWORD: ges
  DB_USER: ges
  DEVOPS_USERNAME: admin 
  DEVOPS_PASSWORD: letmein
  REDIS_ORS_PASSWORD: INSERT_ORS_PASSWORD